<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Phantom Pen</title>

    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <!-- Our Custom CSS -->
    <!-- For referencing style sheet locally-->
    <link rel="stylesheet" href="style_extra.css">
    <link rel="stylesheet" href="personal_style_extra.css">
    <link rel="icon" href="writrly_favicon.png">

    
<!--    for referencing style sheet through application-->
    <link rel= "stylesheet" type= "text/css" href= "static/css/personal_style_extra.css">
    <link rel="stylesheet" type= "text/css" href= "static/css/style_extra.css">
    <link rel="icon" href="static/images/writrly_favicon.png">

<!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>

<!--   Favicon for webpage -->
  <link rel="icon" href="static/images/writrly_favicon.png">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
</head>

<body>
    <div class="wrapper">
        
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4><i>PHANTOM PEN</i></h4>
            </div>

            <ul class="list-unstyled components">
<!--                <p>Dummy Heading</p>-->

                <li>
                    <a href="{{ url_for('index') }}">Home</a>
                </li>
                <li>
                    <a href="{{ url_for('usage') }}">Usage Tips</a>
                </li>                
                <li>
                    <a href="{{ url_for('about') }}">Background</a>
                </li>

                <li>
                    <a href="{{ url_for('corpora') }}">Corpora</a>
                </li>
                <li>
                    <a href="{{ url_for('ethics') }}">Ethics</a>
                </li>
                
            </ul>

            <ul class="list-unstyled CTAs">
<!--
                <li>
                    <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
                </li>
-->
                <li>
                    <a href="https://github.com/mowillia" class="article">Github Repo</a>
                </li>
                <li>
                    <a href="{{ url_for('slides') }}" class="download">Slides</a>
                </li>                   
            </ul>
        </nav>
    
        <!-- Page Content  -->
        <div id="content" >

              <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="navbar-btn">
                        <span style = "color:  #fff;"></span>
                        <span style = "color:  #fff;"></span>
                        <span style = "color:  #fff;"></span>
                    </button>
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fas fa-align-justify"></i>
                    </button>

<!--
-->
                </div>
            </nav>

            
            
            <div class="container">
          <h3 style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif;  text-transform: uppercase;  font-size: 18pt" ><i>Corpora</i></h3>  <h5 style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 12px">What are the texts used to train the model? </h5>

                        
                    <p>
                        The GPT-2 model was trained on 11 different corpora from three main sources.</p>
                <div class="row">

                    <div class="col-sm-6"  style = "font-size: 14px">
                    <h5><i>The Atlantic</i></h5>    
                    <p>    
                        Nine of the corpora were web-scraped from <a href = "https://www.theatlantic.com/"><b style = "color: dodgerblue"><i>The Atlantic</i></b></a> and in total amounted to 2014 articles of average length 800 words. The articles were from 2017-2019. The breakdown of the nine corpora is as follows</p>
                        <p>

                          <li ><b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Business:</b> 205 articles and 68 authors</li>
                          <li> <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Education:</b> 255 articles and 63 authors</li>
                          <li> <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Entertainment:</b> 234 articles and 68 authors</li>   
                          <li> <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Health:</b> 207 articles and 60 authors</li>                               
                          <li> <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Ideas:</b> 252 articles and 123 authors</li>                               
                          <li> <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">International:</b> 142 articles and 75 authors</li>                               
                          <li> <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Politics:</b> 233 articles and 52 authors</li>    
                           <li> <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Science:</b> 257 articles and 59 authors</li>  

                           <li> <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Technology:</b> 229 articles and 57 authors</li>   
 
                            </p> 
                         <h5><i>Short Stories</i></h5>  
                     <p>    
                        The <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Short Story</b> corpus was drawn from all short stories on <a href="https://americanliterature.com/100-great-short-stories" target="_blank"><b style = 'color:dodgerblue'>100 Great Short Stories</b></a>, amounting to 160 stories and 52 authors.</p>
                    </div>
                    <div class="col-sm-6"  style = "font-size: 14px">
                         <h5><i>Project Gutenberg</i></h5>  
                        <p>    
                        The <b style = "font-family: GillSans, 'Gill Sans MT', Calibri, sans-serif; text-transform: uppercase; font-size: 13px; font-weight: 630">Gutenberg</b> corpus consisted of 20 books downloaded from <a href="https://americanliterature.com/100-great-short-stories" target="_blank"><b style = "color: dodgerblue">Project Gutenberg</b></a>. The chosen books are </p> 
                        <p>
                            <i>Anna Karenina</i> (by Leo Tolstoy) &#9670 <i>Around the World in 80 Days</i> (by Jules Verne) &#9670 <i>The Count of Monte Cristo</i> (by Alexandre Dumas) &#9670 <i>Robinson Crusoe</i> (by Daniel Defoe) &#9670 <i>David Copperfield</i> (by Charles Dickens) &#9670 <i>Emma</i> (by Jane Austen) &#9670 <i> Frankenstein</i> (by Mary Shelley) &#9670 <i>The Narrative Autobiography of Frederick Douglas</i> (by Frederick Douglas) &#9670 <i>Heart of Darkness</i> (by Joseph Conrad)- <i>Jane Eyre</i> (by Charlotte Brontë) &#9670 <i>Strange Case of Dr Jekyll and Mr Hyde (by Robert Louis Stevenson)</i> &#9670 <i>Moby Dick</i> (by Herman Melville) &#9670 <i>Oliver Twist</i> (by Charles Dickens) &#9670 <i>Pride and Prejudice</i> (by Jane Austen) &#9670 <i>Scarlett Letter</i> (by Nathaniel Hawthorne) &#9670 <i>The Adventures of Sherlock</i> (by Arthur Conan Doyle) </p>
                        
                           
                    </div>

                </div>
    
            </div>
            
        </div>
        
    </div>

    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
                $(this).toggleClass('active');
            });
        });
    </script>

    
</body>

</html>